<div class="promo-wrapper">
  <div class="promo">
    <div class="card">
        <img
          src="https://zoomcar-assets.zoomcar.com/pictures/original/03a03794f63f6b3208eb89f42cd16339441e2946.jpeg?1646721892"
          alt=""
      />
    </div>
    <div class="card">
        <img
          src="https://zoomcar-assets.zoomcar.com/pictures/original/b066b30cadb2e7f525f37cbfcccfeb837837bfa5.jpeg?1647411291"
          alt="Ref_India"
      />
    </div>
    <div class="card">
        <img
          src="https://zoomcar-assets.zoomcar.com/pictures/original/ba44c3bdd5ccbecd3570080450a7dd6e75e52b06.jpg?1648537784"
          alt="HD@99 banner"
      />
    </div>
    <div class="card">
        <img
          src="https://zoomcar-assets.zoomcar.com/pictures/original/d88ee29aef9814da19f1b8fde74998d1b962c69e.jpg?1648537917"
          alt=""
      />
    </div>
  </div>
</div>
