section div p {
  color: #3f51b5;
  font-size: 30px;
  /* text-shadow: 2px 3px 5px grey; */
  margin: 30px 0;
}
section div + p {
  color: #3f51b5;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
mat-tab-group {
  text-align: center;
}

mat-tab-group p {
  padding-top: 20px;
}

mat-form-field {
  display: block;
  width: 250px;
}

.action-buttons button {
  margin-right: 16px;
}
.action-buttons button:last-child {
  margin-right: 0px;
}

.form {
  width: 400px;
  max-width: 100%;
}
.mat-form-field {width: 100%;}