<section fxLayout="column" fxFlexAlign="stretch" class="searchBlock">
  <div fxFlexAlign="center" class="search-container">
    <div class="autocomplete-container">
      <mat-google-maps-autocomplete
        [appearance]="appearance.OUTLINE"
        country="uk"
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
        (onLocationSelected)="onLocationSelected($event)"
      >
      </mat-google-maps-autocomplete>
    </div>
    <div class="mb-2">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [formGroup]="selectedDates"
          [rangePicker]="picker"
          [min]="minDate"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" class="btn-primary fullBtn" (click)="search()">
        Search
      </button>
    </div>
  </div>
</section>
